$black-900-default-theme: #18181B;
$black-700-default-theme: #202022;
$black-600-default-theme: #27272A;
$black-300-default-theme: #3F3F46;

$neutral-100-default-theme: #E8E8E9;
$neutral-200-default-theme: #A1A1AA;
$neutral-300-default-theme: #71717A;

$state-disabled-default-theme: #303034;
$state-hover-default-theme: #52525b;
$state-hover-button: #b672fa;
$highlight-color: #C084FC;
