@mixin flex-column {
	display: flex;
	flex-direction: column;
}

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin card {
	background-color: $black-700-default-theme;
	padding: 2rem;
	border-radius: 1rem;
	box-sizing: border-box;

	// box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

@mixin font {
	font-family: "Inter", sans-serif;
	color: $neutral-200-default-theme;
}